<!DOCTYPE html>
<html>
<head>
    <title>API Tester</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Verificar Estado de la API</h1>
    <p>Para conocer el estado de la API se debe agregar al dominio <code>/ping</code></p>
    <p>Se debe realizar un consumo de la API mediante GET. En caso de estar activa retorna un 200.</p>

    <h1>Uso del Modelo</h1>
    <p>Envía una imagen para el testeo del modelo y obtén un % de acierto.</p>
    <p>Se debe realizar un consumo de la API pasándole, mediante POST, un binario (imagen) con la key 
    <i>image</i>. Para realizar este consumo se debe agregar al dominio /predict.</p>
    <p>Las imágenes que acepta el modelo son png, jpg y jpeg.</p>
</body>
</html>
